::ng-deep body {
  background-color: #ebecf0;
}

.container-pages {
  background: transparent;
  min-height: 300px;
  width: 95%;
  border: 2px dashed #c2c2c2;
  border-radius: 10px;
  margin: 8px auto;
  padding-bottom: 25px;
}
