.container {
  height: 100%;
  width: 100%;
  padding: 10px;

  .containerSearch {
    display: flex;
    .iconSearch {
      position: absolute;
      right: 20px;
    }
    input {
      width: 100%;
      border-radius: 6px;
      border: 2px solid #e8e8e8;
      padding-left: 7px;
    }
  }
}
